attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
backports.zstd @ file:///D:/bld/bld/rattler-build_backports.zstd_1788491304/work
Brotli @ file:///D:/bld/brotli-split_1788480196539/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1786835581063/work
colorama==0.4.6
contourpy @ file:///D:/bld/bld/rattler-build_contourpy_1769155974/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
cyclopts @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cyclopts_1788965111/work
dill==0.4.1
docstring_parser @ file:///home/conda/feedstock_root/build_artifacts/docstring_parser_1778609811084/work
fonttools @ file:///D:/bld/fonttools_1789076237830/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1785796355/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1787059857/work
iniconfig==2.3.0
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1788505710/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1778169583724/work
matplotlib==3.11.1
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
munkres==1.1.4
numpy @ file:///D:/bld/bld/rattler-build_numpy_1779169235/work/dist/numpy-2.4.6-cp311-cp311-win_amd64.whl#sha256=1f5fa3c853dd01b13cacc0fd3cfdc827bb2f4cf73638f3949fcee463a6dc8304
opencv-python==5.0.0.93
packaging==26.3
pillow @ file:///D:/bld/bld/rattler-build_pillow_1789122658/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1788959137/work
pluggy==1.6.0
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1769816439145/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pygments_1786995678/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PyQt5==5.15.11
PyQt5_sip @ file:///D:/bld/pyqt-split_1759495438043/work/pyqt_sip
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pytest==9.1.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pyvista @ file:///home/conda/feedstock_root/build_artifacts/pyvista_1784682260828/work
pyvista-validation==0.2.2
pyvistaqt @ file:///home/conda/feedstock_root/build_artifacts/pyvistaqt_1788904440231/work
PyYAML==6.0.3
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1749167083742/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
rich-rst @ file:///home/conda/feedstock_root/build_artifacts/rich-rst_1783238117197/work
rtree==1.4.1
scipy==1.17.1
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1789130242029/work
sip @ file:///D:/bld/sip_1759437858307/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
taichi==1.7.4
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
trimesh==5.1.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
unicodedata2 @ file:///D:/bld/unicodedata2_1788554084545/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
vtk==9.6.2
# Editable install with no version control (mesh2tact==0.2.0)
-e .
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
